.error {
    padding: 20px;
    background-color: #D92D2C;
    color: white;
    max-height: 1.5rem
}

.error__close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.error__close-button:hover {
    color: black;
}