:root {
    --default-font-size: 16px;
    --background-color: #FAEED1;
    --main-color: #B31312;
    --main-color-hover: #7F0202;
    --main-color-active: #D92D2C;
}

html {
    height: 100%;
}

body {
    font-size: var(--default-font-size);
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../img/background-70-opacity.png");
    background-repeat: repeat;
    background-size: cover;
    min-height: 100%;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-width: 40rem;
    max-width: 40rem;
    min-height: 35vh;
    border-radius: 1rem;
    background: var(--background-color);
    gap: 1rem;
}

.container__header {
    margin: 0;
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    flex-grow: 1;
    height: 100%;
}

.form__input-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-grow: 1;
}

.form__text-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__label {
    padding-top: 0.5rem;
}

.form__input, .form__input-textarea {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    height: 2rem;
    padding-left: 0.2rem;
    width: auto;
    flex-shrink: 1;
    font-family: 'Inria Sans', sans-serif;
}

.form__input-textarea {
    min-height: 8rem;
    max-height: 20rem;
    padding: 0.3rem;
}

.form__profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    width: auto;
}

.form__picture-preview {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
}

.form__picture-preview img {
    width: auto;
    height: 100%;
}

.form__picture-upload-button {
    width: 30px;
    height: 30px;
    background-image: url("../img/profile_picture_edit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 7rem;
    margin-top: -2rem;
}

.form__picture-input {
    display: none;
}

.form__submit {
    align-self: flex-end;
    border: none;
    background-color: var(--main-color);
    color: white;
    height: 2.2rem;
    border-radius: 8px;
    width: 15rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.form__submit:hover {
    background-color: var(--main-color-hover);
}

.form__submit:active {
    background-color: var(--main-color-active);
}

@media only screen and (max-width: 60em) {
    .form-container {
        width: 100%;
        height: auto;
        min-width: auto;
        padding: 1rem;
    }

    .form__input-container {
        flex-direction: column;
        width: auto;
    }

    main {
        width: auto;
        margin: 1rem;
        padding: 0;
    }

    .form__submit {
        width: 100%;
    }
}

@media only screen and (max-width: 40em) {
    main {
        margin: 1rem;
    }
}
