.create-group-button,
.create-lunch-button,
.edit-group-button {
    cursor: pointer;
    margin: 0;
    text-align: center;
    text-decoration: none;
    background-color: #B31312;
    color: white;
    border-radius: 2rem;
    padding: .6rem 1rem .6rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;

    i {
        background-color: white;
        padding: .5rem;
        color: #B31312;
        border-radius: 50%;
        margin-left: .3rem;
    }
}
.create-group-button,
.edit-group-button {
    margin-right: 2rem;
}

.user-leave-icon {
    background-color: white;
    padding: .5rem;
    border-radius: 50%;
    margin-left: .3rem;
    background-image: url("../img/user-leave-icon.png");
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 1rem;
    height: 1rem;
}

.create-group-button:hover,
.create-lunch-button:hover,
.edit-group-button:hover {
    background-color: var(--main-color-hover);
}

.create-group-button:active,
.create-lunch-button:active,
.edit-group-button:active {
    background-color: var(--main-color-active);
}

.create-lunch-button {
    padding: .6rem 1rem .6rem 1rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

#create-lunch-button-wrapper {
    display: flex;
    justify-content: end;
}

.group-preview-card {
    cursor: pointer;
    height: 370px;
    width: 100%;
    background-color: #B31312;
    color: white;
    border-radius: 2rem;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 2rem;

    img {
        width: 175px;
        height: 175px;
        padding: 1rem;
        border-radius: 50%;
    }

    p {
        text-align: center;
        overflow: hidden;
        max-width: 250px;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
}

.group-preview-card:hover {
    background-color: var(--main-color-hover);
}

.group-preview-card:active {
    background-color: var(--main-color-active);
}

.groups-wrapper {
    margin-top: 2rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.group-member-card {
    text-align: center;
    width: 125px;
    height: 190px;
    border-radius: 1rem;
    background-color: #B31312;
    color: white;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;

    p {
        overflow-wrap: break-word;
        max-width: 110px;
        margin: 0 1rem;
    }

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}

.group-members-wrapper {
    display: grid;
    column-gap: .5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    margin: 0 2rem;
}

.group-description {
    max-width: 60rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.no-lunches {
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.create-lunch-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #B31312;
    color: white;
    border-radius: .5rem;
    padding: .3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.create-lunch-form-button {
    outline: none;
    border: none;
    border-radius: .3rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 .7rem;

    &:hover {
        background-color: #FAEED1;
        color: #B31312;
        transition: .3s;
    }
}

#create-lunch-date-picker {
    cursor: pointer;
    border-radius: .6rem;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .5rem .7rem;
    margin: .3rem 0 .3rem .5rem;
    background-color: white;

    &:hover {
        background-color: #FAEED1;
    }
}

.lunch-date-dropdown {
    display: flex;
    flex-direction: row;
    background-color: #B31312;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: .5rem;
    font-size: 18px;
    margin: 1rem 0;
}

.dropdown-button-chevron {
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    background: #B31312;
    transition: 0.5s;

    i {
        font-size: 20px;
    }
}

.hide-element {
    visibility: hidden;
}

.lunch-menu-list {
    padding-left: 0;
}

.lunch-vote-count, .menu__lunch-vote-count-mobile {
    color: white;
    padding: .7rem;
    font-weight: bold;
    font-size: 22px;
    background-color: #B31312;
    border-bottom-left-radius: .5rem;

    i {
        margin-right: .3rem;
        font-size: 22px;
    }
}

.lunch-menu-list > .menu > .menu__image {
    justify-content: space-between;
}

.lunch-voted-for, .menu__lunch-voted-for-mobile {
    background: #B31312;
    color: #00C479;
    padding: .3rem .3rem .3rem .7rem;
    font-size: 25px;
    border-top-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.menu__lunch-vote-count-mobile, .menu__lunch-voted-for-mobile {
    display: none;
}

.menu__lunch-vote-count-mobile {
    border-top-right-radius: .5rem;
}

.menu__controls-container {
    display: flex;
    width: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    margin-bottom: -2.5rem;
}

@media only screen and (max-width: 60em) {
    .menu__lunch-vote-count-mobile, .menu__lunch-voted-for-mobile {
        display: block;
    }

    .menu__add-menu-button-mobile {
        border-radius: 0 0 0 0.5rem;
        padding-top: 0;
    }

    .menu__lunch-vote-count-mobile {
        border-radius: 0 0 0.5rem 0;
    }

    .menu__lunch-voted-for-mobile {
        border-radius: 0 0 0 0.5rem;
    }
}

@media only screen and (max-width: 40rem) {
    .group-members-wrapper {
        margin: 0 .5rem;
    }
}