.form-container {
    min-width: 20rem;
}

.form__submit {
    width: 100%;
}

.form-container__logo {
    align-self: center;
}

.form-container__logo img {
    height: 3rem;
}

.form__text-inputs {
    justify-content: center;
}

.form__registration-link {
    color: var(--main-color);
    align-self: center;
    font-size: 0.9rem;
}

.form__registration-link:hover {
    color: var(--main-color-hover);
}

.form__registration-link:active {
    color: var(--main-color-active);
}

@media only screen and (max-width: 60em) {
    .form-container {
        padding: 2rem;
        width: max-content;
        height: max-content;
    }

    main {
        margin: 1rem;
        padding: 0;
    }

    .form__input-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 40em) {
    .form-container {
        width: 100%;
        height: auto;
        min-width: auto;
        padding: 1rem;
    }

    main {
        width: auto;
        margin: 1rem;
        padding: 0;
    }

    .form__submit {
        width: 100%;
    }
}